//@keyframes hero-title-expand {
//    from { width: 0; }
//    to { width: 100%; }
//}
//.hero-title.expanded, .hero-subtitle.expanded {
//    animation: hero-title-expand 0.5s ease-out forwards;
//    animation-delay: 2s;
//}

//$hero-title-size: max(5.125rem,min(6.8vw + 2rem,18rem) * 0.8);
$hero-title-size: 3.5rem;
$font-hero-title: $font-family;

#hero-worm {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 138%;
    box-sizing: border-box;
    padding-bottom: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(
        ellipse 50% 36% at 50% 100%,
        transparent 99.5%,
        #000 100%
    );
    mask-image: radial-gradient(
        ellipse 50% 36% at 50% 100%,
        transparent 99.5%,
        #000 100%
    );
}

.hero-worm-img {
    display: block;
    max-width: min(36rem, 72%);
    max-height: 72%;
    width: auto;
    height: auto;
    object-fit: contain;
    pointer-events: auto;
}

.hero-worm-noise {
    position: absolute;
    inset: 0;
    background: url(/media/noise.png) repeat;
    filter: invert(100%);
    opacity: 0.5;
    pointer-events: none;
}

.hero-stars,
.hero-star {
    display: none;
}

.hero-text {
    position: relative;
    z-index: 30;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
    grid-row: 1;
    grid-column: 1;
    overflow: visible;
    height: 100%;
}

.hero-text-lines {
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 auto;
}

.hero-title, .hero-subtitle {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: center;
    min-width: 15ch;
    align-items: end;
    margin: 0;
    flex-wrap: nowrap;
    white-space: nowrap;
}

.hero-title {
    margin-top: 0;
    margin-bottom: calc(-1 * $hero-title-size * 0.38);
}

.hero-title span {
    text-wrap: nowrap;
    margin-left: 0rem;
    font-size: $hero-title-size;
    font-weight: 600;
    line-height: normal;
    overflow: visible;
    font-family: $font-hero-title;
}

.hero-title .char,
.hero-subtitle .char {
    margin-left: 0;
}
.hero-subtitle span {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 400;
    font-family: $font-hero-title;
}

@media screen and (max-width: 800px) {
    .hero-title {
        margin-bottom: calc(-1 * 2.15rem * 0.38);
    }

    .hero-title span,
    .hero-subtitle span {
        font-size: 2.15rem;
    }
}