.btn-fullscreen {
    top: .4em;
    right: .4em;
    width:20px;
    height:20px;
    position: fixed;
    z-index: 3200;
    transform:scale(.7);
    cursor:pointer;
}
  
.btn-fullscreen svg path{
    fill: $white;
    fill-opacity: 1;
}