// Colors
$primary-color: #3498db;
$secondary-color: #2ecc71;
$accent-color: #e74c3c;
//$text-color: #333333;
$text-color: #fffce1;
//$colorBg: #171a19;
//$colorBg: #222a30;
$colorBg: #0e100f;


$green: #abff84;
$yellow: #e0a458;
$red: #d9594c;
$blue: #00bae2;

// Grayscale
$white: #ffffff;
$light-gray: #f4f4f4;
$medium-gray: #999999;
$medium-gray-2: #c9c9c9;
$dark-gray: #666666;
$black: #000000;
$transparent: transparent;

// Font families
$font-family: 'safiro-medium', sans-serif;
$font-secondary: 'Helvetica Neue', Helvetica, sans-serif;
$font-agoka: 'agoka', sans-serif;
