//Base
@import 'base/_fonts';
@import 'base/_variables';

// Intro
@import 'intro/_intro';

// Background
@import 'background-animation/_background-container';

// Hero
@import 'hero/_hero';

// About
@import 'about/_about';

//Technologies
@import 'technologies/_technologies';

//UI Elements
@import 'ui-elements/_ui-elements';

//Projects
@import 'projects/_project';

//Project Details
@import 'project-details/_project-details';

//Contact
@import 'contact/_contact';

body {
    font-family: $font-family;
    text-rendering: optimizeLegibility;
    color: $text-color;
    margin: 0;
    padding: 0;
    position: relative;
    direction: ltr;
    text-align: left;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    background-color: $colorBg;
    overflow-x: hidden;
}

h2, h1, h3 {
    font-weight: 400;
    letter-spacing: -2px;
    text-transform: none;
}

main {
    margin: 0 auto;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  scrollbar-width: none;
}

// Hide scrollbar for Chrome, Safari and Opera
body::-webkit-scrollbar {
    display: none;
  }
  
// Hide scrollbar for IE, Edge and Firefox
body {
  -ms-overflow-style: none;  // IE and Edge
  scrollbar-width: none;  // Firefox
}



body {
  visibility: hidden;
}

.transition-ready {
  visibility: visible;
}

button {
  background-color: transparent;
  border: none;
  color: $text-color;
  font-size: 1rem;
  font-weight: 400;
  cursor: pointer;
}